<% provide(:title, "Reedit") %>
<table border="1">
<% if @all_posts.any? %>
	<%= @all_posts.each do |post| %>
		<%= render post %>
	<% end %>
<% else %>
	<p>Your newsfeed is empty, start following some users!</p>
<% end %>
</table>
