<% provide(:title, 'Reedit - Successful Registration Page') %>

<div id="welcome" class="content">
	<div id = "text">
			
	Congratulations! You are now a part of Reedit!
	Start making Reeds and watch them grow!
 	</div>
	
</div>
