<% provide(:title, "(" << @user.name << ") on Reedit") %>
<table border="1">
	<tr>
		<td colspan="4" align="center">
			User's profile picture goes here
		</td>
	</tr>
	<tr>
		<td colspan="4" align="center">
			<%= @user.name %>
		</td>
	</tr>
	<tr>
		<td>
			0 Posts
		</td>
		<td>
			0 Following
		</td>
		<td>
			0 Followers
		</td>
		<td>
			Follow Button Here
		</td>
	
</table>
<div class="span8">
	<% if @user.posts.any? %>
		<%= render @posts %>
	<% else %>
		<p><%= @user.name %> has not made any posts.</p>
	<% end %>
</div>
