// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	color: #000000;
}

body {
	background: #00CCFF;
}

.logo {
	align: center;
}

.main-table-border {
	border: 5px solid #FFFFFF;
	border-collapse: collapse;
}

.main-td-border {
	border: 5px solid #FFFFFF;
	border-collapse: collapse;
}
