// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#postbox {
	border: rgba(0,204,255,.4);
	border-style:solid;
	border-width:5px;
	border-radius: 10px;
 	width: 90%;
	margin:auto;
	
}

.post-btn {
	padding: 5px 20px;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: 900;
	font-size: 120%;
	background: rgba(0,204,255,.6);
	box-shadow: #AC864A;
	border-radius: 5px;
	float:right;
	margin-top: 35px;
	margin-right: 5px;
}

