// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: #FFFFFF;
	font-family: Arial;
}

label {
	color: #FFFFFF;
	font-family: Arial;
}

input, textarea {
	margin-bottom: 15px;
}

.register-btn {
	padding: 5px 20px;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: 900;
	font-size: 120%;
	background: rgba(0,204,255,.6);
	box-shadow: #AC864A;
	border-radius: 5px;
}
